.Header-headline {
	text-transform: uppercase;
	font-size: 9.5vw;
	white-space: nowrap;
}

.Header-subHeadline {
	text-transform: uppercase;
	font-size: 1vw;
	white-space: nowrap;
	color: var(--color-black);
	text-align: center;
}
